.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-progress-bar {
    position: relative;
    transform: scaleY(6);
    transform-origin: top;
    border-top-right-radius: 50% 40px;
    border-bottom-right-radius: 50% 40px;
    border-top-left-radius: 50% 40px;
    border-bottom-left-radius: 50% 40px;
}

.progress-text {
    position: relative;
    z-index: 1;
    bottom: 2px;
    font-size: 14pt;
    font-weight: 500;
}

