<div class="container">
    <div class="selections">
        <mat-form-field>
            <mat-label>Map Size</mat-label>
            <mat-select [(ngModel)]="mapSize">
                <mat-option value="tiny">Tiny</mat-option>
                <mat-option value="small">Small</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="large">Large</mat-option>
                <mat-option value="huge">Huge</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Map Type</mat-label>
            <mat-select [(ngModel)]="mapType">
                <mat-option value="pangaea">Pangaea</mat-option>
                <mat-option value="continents">Continents</mat-option>
                <mat-option value="archipelago">Archipelago</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sea Level</mat-label>
            <mat-select [(ngModel)]="seaLvl">
                <mat-option value="low">Low</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="high">High</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Topography</mat-label>
            <mat-select [(ngModel)]="hillLvl">
                <mat-option value="flat">Mostly Flat</mat-option>
                <mat-option value="average">Average</mat-option>
                <mat-option value="hills">Lots of Hills</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Forestry</mat-label>
            <mat-select [(ngModel)]="forestry">
                <mat-option value="low">Low</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="high">High</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Temperature</mat-label>
            <mat-select [(ngModel)]="temperature">
                <mat-option value="frozen">Frozen</mat-option>
                <mat-option value="cold">Cold</mat-option>
                <mat-option value="temperate">Temperate</mat-option>
                <mat-option value="hot">Hot</mat-option>
                <mat-option value="scorching">Scorching</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rain Fall Amount</mat-label>
            <mat-select [(ngModel)]="rainfall">
                <mat-option value="sand">Sand</mat-option>
                <mat-option value="arid">Arid</mat-option>
                <mat-option value="average">Average</mat-option>
                <mat-option value="wet">Wet</mat-option>
                <mat-option value="flooded">Flooded</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onCreateGame()">Create Game</button>
    </div>
</div>

<div class="saved-games">
    <div *ngFor="let game of savedGames" class="saved-game">
        <div>{{ game.game_name }}</div>
        <div>{{ game.map_size }}</div>
        <div>{{ game.map_type }}</div>
        <div>{{ game.sea_lvl }}</div>
        <div>{{ game.hill_lvl }}</div>
        <div>{{ game.forestry }}</div>
        <div>{{ game.temperature }}</div>
        <div>{{ game.rainfall }}</div>
        <button mat-raised-button color="primary" (click)="onLoadGame(game, game.civilization_ids[0])">Load Game</button>
        <button mat-raised-button color="primary" (click)="onDeleteGame(game)">Delete Game</button>
    </div>
</div>

<div *ngIf="world && world.continents" class="world">
    <div class="continents" *ngFor="let continents of world.continents">
        <p>
            Total Regions: {{ continents.regions.length }}
        </p>
        <p>Total Coasts: {{ continents.totalCoasts }}</p>
        <p>Total WaterSource {{ continents.totalWaterSources }}</p>
        <p>yRange: {{ continents.yLocationMin }}, {{ continents.yLocationMax }}</p>
        <div class="regions">
            <div *ngFor="let region of continents.regions" class="region" style="margin-top: 10px;">
                <div><b>Type: {{ region.terrain_type.label }}</b></div>
                <div>yLocation: {{ region.ylocation }}</div>
                <div>temp: {{ region.temperature_lvl }}</div>
                <div>rain: {{ region.rainfall_lvl }}</div>
                <div>water: {{ region.ground_water_amount }}</div>
                <div>foresrty: {{ region.forestry_lvl }}</div>

            </div>
        </div>
    </div>
</div>
