.game {
    height: calc(100vh - 16px);
}

.hud {
    background-color: var(--accent-lighter);
    color: var(--accent-contrast-main);
    padding: 4px;
    margin-bottom: 12px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.hud-content {
    width: clamp(380px, 94%, 1480px);
    margin: auto;
    height: fit-content;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.game-world-container {
    width: clamp(380px, 94%, 1480px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.map-area {
    flex-grow: 3;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    mat-icon {
        cursor: pointer;
    }
}

.continent {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

.regions-area {
    margin-top: 4px;
    .regions-header {
        display: flex;
    }
    .regions-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.region {
    position: relative;
    margin: 4px;
    padding: 8px;
    cursor: pointer;
    .region-type {
        font-weight: bold;
        text-align: center;
        font-size: 13pt;
    }
    .temperature {
        position: absolute;
        top: -10px;
        left: 85%;
        background-color: var(--background-lighter);
        width: 35px;
        height: 35px;
        font-size: 13pt;
        border: 1px solid var(--foreground-main);
        border-radius: 50%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.region::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../assets/images/yellow_hills_coast_small.png") no-repeat center center / cover;
    opacity: 0.3; /* Adjust this value as needed. Lower values mean more transparency. */
    z-index: -1; /* Place the background behind the content. */
}

.region-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.details-area {
    flex-grow: 1;
    min-width: 280px;
}

.party-list {
    display: flex;
}

mat-progress-bar {
    transform: scaleY(8);
    transform-origin: bottom;
    border-top-right-radius: 50% 25px;
    border-bottom-right-radius: 50% 25px;
    border-top-left-radius: 50% 25px;
    border-bottom-left-radius: 50% 25px;
}

.close-btn {
    text-align: end;
    position: relative;
    top: -12px;
    right: -6px;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    .btn{
        padding: 0px;
        width: 25px;
        height: 25px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--warn-main);
        color: var(--warn-contrast-main);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}

.selected-region {
    display: flex;
    flex-direction: column;
    padding: 16px 8px 8px 8px;
    background-color: var(--background-lighter);
    border: 1px solid var(--foreground-main);
    border-radius: 8px;
    .resources {
        text-align: center;
    }
}

.selected-party-container {
    display: flex;
    flex-direction: column;
    padding: 16px 8px 8px 8px;
    background-color: var(--background-lighter);
    border: 1px solid var(--foreground-main);
    border-radius: 8px;
    .party-header {
        display: flex;
        justify-content: space-between;
    }
    .party-stats {
        text-align: center;
        background-color: var(--background-darker);
    }
    .party-resources-list {
        display: flex;
        .resource {
            margin: 2px;
        }
    }
    .party-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 8px;
        button {
            margin: 4px;
            width: clamp(80px, 45%, 280px);
        }
    }
}
