<div class="game" *ngIf="civilization">
    <div class="hud">
        <div class="world-explored">
            <div>World Explored</div>
            <div *ngIf="civilization.explored_perspective !== null">{{civilization.explored_perspective}}%</div>
            Game Time/Date {{ gametime }}
        </div>
        <div class="civ-resources">
            <div>Resources being tracked</div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </div>
        <div class="menu-btns">
            <button mat-raised-button color="primary" routerLink="/">Menu</button>
        </div>
    </div>
    <div class="game-world-container">
        <div class="map-area">
            <div class="continent">
                <mat-icon aria-hidden="false" aria-label="Zoom Out" color="primary">zoom_out</mat-icon>
                <div>Continent Name</div>
            </div>
            <div class="regions-area">
                <div class="regions-header">
                    <mat-icon aria-hidden="false">filter_list</mat-icon>
                    <b>Discovered Regions</b>
                </div>
                <div *ngIf="civilization" class="regions-list">
                    <div class="region borders" *ngFor="let region of civilization.discovered_regions let i = index"
                        (click)="onSelectRegion(i)">
                        <div class="region-type">{{ region.terrain_type.label }}</div>
                        <div class="temperature">68f</div>
                        <div class="region-content">
                            <div class="info">
                                <mat-icon aria-hidden="false">location_city</mat-icon> Uncolonized
                                <div>Has Fresh Water</div>
                                <div>Water Level</div>
                                <div>Resources</div>
                            </div>
                            <div *ngIf="region.has_player_activity && playersActivity && playersActivity.length > 0">
                                <div class="activity" *ngFor="let activity of playersActivity">
                                    <div class="party-list" *ngIf="activity.region_id === region.id">
                                        <div class="party" *ngFor="let party of activity.parties"
                                            (click)="onPartySelected(party, $event)">
                                            <mat-icon aria-hidden="false" aria-label="Party icon"
                                                color="primary">groups</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-area">
            <div class="details-container">
                <div class="close-btn">
                    <button mat-mini-fab color="warn">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
                    </button>
                </div>
                <div class="no-selection">
                </div>
                <div class="selected-region">
                    <!-- mode = 'determinate' , 'indeterminate' , 'buffer' , 'query' -->
                    <app-progress-bar [value]="50"></app-progress-bar>
                    <span>90</span>
                </div>
                <div class="selected-party">

                </div>
            </div>
        </div>
    </div>
</div>