<div class="game" *ngIf="civilization">
    <div class="hud">
        <div class="hud-content">
            <div class="world-explored">
                <div>World Explored</div>
                <div *ngIf="civilization.explored_perspective !== null">{{civilization.explored_perspective}}%</div>
                Game Time/Date {{ gametime }}
            </div>
            <div class="total-colonists">
                <div>Total Colonists</div>
                <div>
                    {{ allPlayerColonists().length }}
                    <!-- 'mat-button','mat-raised-button', 'mat-flat-button','mat-stroked-button','mat-icon-button','mat-fab','mat-mini-fab' -->
                    <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <div class="civ-resources">
                <div>Resources being tracked</div>
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </div>
            <div class="menu-btns">
                <button mat-raised-button color="primary" routerLink="/">Menu</button>
                <button style="margin-left: 8px;" mat-raised-button color="primary"
                    (click)="testChangeTheme()">Theme</button>
            </div>
        </div>
    </div>
    <div class="game-world-container">
        <div class="map-area">
            <div class="continent">
                <mat-icon aria-hidden="false" aria-label="Zoom Out" color="primary">zoom_out</mat-icon>
                <div>Continent Name</div>
            </div>
            <div class="regions-area">
                <div class="regions-header">
                    <mat-icon aria-hidden="false">filter_list</mat-icon>
                    <b>Discovered Regions</b>
                </div>
                <div *ngIf="civilization" class="regions-list">
                    <div class="region borders" *ngFor="let region of civilization.discovered_regions"
                        [ngClass]="selectedRegion && region.id === selectedRegion.id? 'isSelected':''"
                        (click)="onSelectRegion(region)">
                        <div class="region-type">{{ region.terrain_type.label }}</div>
                        <div class="temperature">68f</div>
                        <div class="region-content">
                            <div class="info">
                                <mat-icon aria-hidden="false">location_city</mat-icon> Uncolonized
                                <div>Has Fresh Water</div>
                                <div>Water Level</div>
                                <div>Resources</div>
                            </div>
                            <div *ngIf="region.has_player_activity && allPlayersActivity && allPlayersActivity.length > 0">
                                <div class="activity" *ngFor="let activity of allPlayersActivity">
                                    <div class="party-list" *ngIf="activity.region_id === region.id">
                                        <div class="party" *ngFor="let party of activity.parties"
                                            [ngClass]="selectedParty && party.id === selectedParty.id? 'isSelected':''"
                                            (click)="onPartySelected(party, $event)">
                                            <mat-icon aria-hidden="false" aria-label="Party icon"
                                                color="primary">groups</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ************ Menu Details Area ************ -->
        <div class="details-area">
            <div class="details-container">
                <div class="close-btn">
                    <div class="btn">
                        <mat-icon aria-hidden="false" aria-label="Close Button">close</mat-icon>
                    </div>
                </div>
                <div class="no-selection">
                </div>
                <div *ngIf="selectedRegion && getRegionExploredValue() as exploreValue" class="selected-region">
                    <app-progress-bar [value]="exploreValue" [text]="exploreValue.toString()" [textType]="'percent'"></app-progress-bar>
                    <button mat-raised-button color="primary">View Region</button>
                    <div class="resources">
                        <h4>List of Resources</h4>
                    </div>
                </div>
                @if(selectedParty && getPartyActivities(); as party) {
                    <div class="selected-party-container">
                        <div class="party-header">
                            <div style="flex-grow: 1;">Party Name</div>
                            <app-progress-bar style="flex-grow: 2;" [value]="party.activity_progress" [text]="party.activity"></app-progress-bar>
                        </div>
                        <div class="party-stats">
                            <div>Combat Stats</div>
                            <div class="party-resources-list">
                                @for (resource of party.resources; track $index) {
                                  <div class="resource">
                                      <app-resource-ui [nameId]="resource.name_id" [text]="resource.amount"></app-resource-ui>
                                  </div>
                                }
                            </div>
                        </div>
                        <div class="party-img">
                            <img width="125px" src="../../../assets/images/colonist.png" alt="character image" srcset="">
                        </div>
                        <div class="party-btns">
                            <button mat-raised-button color="primary" (click)="onPartyExplore(party)">
                                {{ party.activity === 'exploring'? 'Stop Exploring' : 'Explore' }}</button>
                            <button mat-raised-button color="primary">Settle</button>
                            
                            <button mat-raised-button color="primary">Attack</button>
                            <button mat-raised-button color="primary">Split Party</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>