.game {
    height: calc(100vh - 16px);
    padding: 8px;
}

.hud {
    height: fit-content;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.game-world-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.map-area {
    flex-grow: 3;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    mat-icon {
        cursor: pointer;
    }
}

.continent {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

.regions-area {
    margin-top: 4px;
    .regions-header {
        display: flex;
    }
    .regions-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.region {
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    .region-type {
        font-weight: bold;
        text-align: center;
    }
}

.details-area {
    flex-grow: 1;
    min-width: 280px;
}

.party-list {
    display: flex;
}

.party {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-progress-bar {
    transform: scaleY(8);
    transform-origin: bottom;
    border-top-right-radius: 50% 25px;
    border-bottom-right-radius: 50% 25px;
    border-top-left-radius: 50% 25px;
    border-bottom-left-radius: 50% 25px;
}
// :host ::ng-deep mat-progress-bar {
//     // height: 50px;
//   }

//   :host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
//     border-top-width: 50px;
//   }

//   :host ::ng-deep mat-progress-bar .mdc-linear-progress__buffer-bar {
//     border-top-width: 50px;
//   }
