/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "/src/assets/theme/app-theme.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.borders {
    border: 1px solid var(--foreground-main);
    border-radius: 8px;
}

.party {
    width: 45px;
    height: 45px;
    border: 1px solid var(--foreground-main);
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.isSelected {
    border: 2px solid var(--accent-darker);
}
